.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 12px 12px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20% auto;
    padding: 20px;
    text-align: center;
  }
  
  .stopwatch-card {
    background-color: #c4c8ee;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
  }
  
  .start {
    background-color: blue;
  }
  
  .pause {
    background-color: red;
  }
  
  .stop {
    background-color: orange;
  }
  
  .reset {
    background-color: green;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  